<header class="hero">
  <p class="tagline">{{ tagline }}</p>
  <h1>{{ title }}</h1>
  <p class="description">&lt; {{ description }} /&gt;</p>
  <p class="link"><a href="{{ href }}">{{ link }}</a></p>
</header>