---
title: Pixels Playin'
tagline: m4dz' Live Sessions
description: Every Tue. 2PM GMT
href: http://twitch.tv/m4dz_devrel/
link: twitch.tv/m4dz_devrel
---
{% extends "../../doc-layout/src/base.njk" %}
{% block default %}
  {% include "../src/hero.njk" %}
{% endblock %}